<div
  class="game-ui"
  data-controller="move"
  data-move-active="<%= @move_active.to_s %>"
>
  <div class="game-ui__scores">
    <% @game.game_users.each do |player| %>
      <%
        presenter = ScorePresenter.new \
          player: player,
          game: @game,
          bem_base: 'game-ui__score'
      %>
      <div class="<%= presenter.parent_css_classes %>">
        <h1 class="<%= presenter.name_css_classes %>">
          <%= presenter.name %>
        </h1>

        <h2 class="<%= presenter.score_css_classes %>">
          <%= presenter.score %>
        </h2>
      </div>
    <% end %>
  </div><!-- .game-ui__scores -->

  <div class="board" data-target="move.board">
    <% @game.board.each do |col| %>
      <div class="board__col">
        <% col.each do |tile| %>
          <%
            presenter = TilePresenter.new(tile: tile, bem_base: 'board__tile')
          %>
          <div
            class="<%= presenter.css_classes %>"
            data-action="click->move#placeTile"
          >
            <%= presenter.content %>
          </div>
        <% end %>
      </div><!-- .board__col -->
    <% end %>
  </div><!-- .board -->

  <menu class="game-ui__hand">
    <% @current_player.hand.each do |tile| %>
      <div
        class="tile"
        data-action="click->move#selectTile"
        data-target="move.tile"
      >
        <%= tile %>
      </div><!-- .tile -->
    <% end %>
  </menu><!-- .game-ui__hand -->
</div><!-- .game-ui -->
