<div
  class="game-ui"
  data-controller="move live-reload"
  data-live-reload-game-id="<%= @game.id %>"
  data-finished="<%= @game.finished?.to_s %>"
  data-move-active="<%= @move_active.to_s %>"
>
  <%= render('scoreboard', game: @game) %>
  <%= render('board', game: @game) %>
  <%=
    render \
      'hand',
      game: @game,
      move_active: @move_active,
      current_player: @current_player
  %>
</div><!-- .game-ui -->
