<!DOCTYPE html>
<html>
  <head>
    <title>Ben Dan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%=
      stylesheet_link_tag \
        'application',
        'data-turbolinks-track': 'reload',
        media: 'all'
    %>
    <%= javascript_pack_tag('application', 'data-turbolinks-track': 'reload') %>
  </head>

  <body>
    <nav class="nav">
      <h1 class="nav__logo">
        <%= link_to('Ben Dan', root_path) %>
      </h1><!-- .nav__logo -->

      <ul class="nav__items">
        <% if signed_in? %>
          <li class="nav__item">
            <%= link_to('Games', games_path) %>
          </li><!-- .nav__item -->
        <% end %>
      </ul><!-- .nav__items -->

      <ul class="nav__items">
        <% if signed_in? %>
          <li class="nav__item">
            <%= link_to('Logout', session_path(-1), method: :delete) %>
          </li><!-- .nav__item -->
        <% else %>
          <li class="nav__item">
            <%= link_to('Login', new_session_path) %>
          </li><!-- .nav__item -->
        <% end %>
      </ul><!-- .nav__items -->
    </nav><!-- .nav -->

    <%= render(partial: 'shared/flash_messages') %>

    <%= yield %>
  </body>
</html>
