<!DOCTYPE html>
<html>
  <head>
    <title>Ben Dan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%=
      stylesheet_link_tag \
        'application',
        'data-turbolinks-track': 'reload',
        media: 'all'
    %>
    <%= javascript_pack_tag('application', 'data-turbolinks-track': 'reload') %>
  </head>

  <body>
    <%= render(partial: 'shared/nav') %>

    <div class="container">
      <%= render(partial: 'shared/flash_messages') %>

      <%= yield %>
    </div><!-- .container -->
  </body>
</html>
