<h2>Edit Account</h2>

<%= form_with(model: @account, url: account_path, class: 'form') do |f| %>
  <div class="validation-errors"></div>

  <div class="form__group">
    <%= f.label(:password) %>
    <%= f.password_field(:password) %>
  </div><!-- .form__group -->

  <div class="form__group">
    <%= f.label(:password_confirmation, 'Password Confirmation') %>
    <%= f.password_field(:password_confirmation) %>
  </div>

  <%= f.submit('Save', class: 'button button--alt') %>
<% end %>
